@import url('https://stockfont.org/?549679eccf04b2cb118cdb027cb8f199890664d9b1da735a421e906062df8e84');

html{
  font-family:'Oxygen-Regular', times, verdana, sans-serif;
}

body{
  margin:0;
  padding: 0;
}

header{
  background-color: #fff;
  padding:0% 0% 1% 0%;
  text-align: center;
}

header div{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0.2% 0.5%;
  color: green;
  font-weight: bold;
}

header div a{
  margin:0% 0.5%;
  text-decoration: none;
  font-weight: bold;
  color:purple;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

header h1 { margin:0%; margin-bottom:3%;padding:0%; font-size:4em; color: black; text-shadow: 2px 2px 2px gray; font-weight: bold; font-style: italic;}

nav.navigators{
  width:60%;
  padding:0.2% 20%;
  background-color: #333;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
}

nav.navigators > ul{
  width:100%;
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav.navigators > ul a{
  text-decoration: none;
  color:white;
  margin:0;
  padding: 0;
}

nav.navigators a:hover{
  color:white;
  /* text-shadow: 2px 0px 3px #ccc; */
}

nav.navigators > ul li{
  position: relative;
  padding: 4px 0%;
  font-size: 20px;
}

section.home{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

section.dashboard{
  width:99%;
  padding:0.5%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px #ddd;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.titleTag{
  padding:1%;
  margin:1%;
  width:inherit;
  color:slategray;
  background-color: #ccc;
}

.dashboard .block-container{
  width:20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-height: 95vh;
  background-color: #111;
  box-shadow: 0px 0px 1px 1px lightblue;
}

.dashboard .workingAreaHolder{
  width:44%;
  height:95vh;
  box-shadow: 0px 0px 1px 1px lightblue;
  display: flex;
  background-color: #333;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.settings{
  background: #eee;
  width:99%;
  flex-grow: 0.1;
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.canvas{
  background: #eee;
  width:99%;
  flex-grow: 10;
  align-items: stretch;
}

.dashboard .codezone{
  width:34%;
  padding:0.5%;
  height:90vh;
  box-shadow: 0px 0px 1px 1px lightblue;
  display: flex;
  background-color: #fff;
  color:#111;
  font-weight: bolder;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.codezone .console{
  width: 99%;
  padding:0.5%;
  flex-grow:20;
  overflow: scroll;
  background-color: #fff;
  color:slategray;
  box-shadow: 0px 0px 1px 1px lightblue;
}

.title{
  flex-grow: 0.01;
}

section.myproj{
  width:99%;
  padding:0.5%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px #ddd;
  display:flex;
  flex-flow:column wrap;
  justify-content: space-around;
  align-items: center;

}

.projectContainer{
  width:99%;
  padding:0.5%;
  display:flex;
  flex-flow:row wrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow:0px 0px 1px 2px #eee;
}

.projectWrapper{
  width:12%;
  height:200px;
  /* padding:1%; */
  margin:2% 4%;
  box-shadow: 0px 0px 1px 1px gray;
  cursor: pointer;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* background:  */
}

.projectWrapper img{
  width: 90%;
  height: 90%;
}

.projectWrapper h2{
  height:5%;
  width:100%;
}
